<link rel="stylesheet" href="./css/radioProof.css">
<div class="radio-proof">
    <ul id="{{'radio'+stepIndex+$index}}" >
        <li ng-repeat="radioItem in optionsArr track by $index">
            <div class="radio-moni-circle"></div>
            <input class="radio-input" type="text" id="{{'input'+stepIndex+comIndex+$index}}" ng-model="radioItem"
                   ng-change="changeOptions($index)">
            <img src="./img/icon/add_radio.png" alt="" id="{{'add'+comIndex+stepIndex+$index}}" ng-click="addRadioOption()">
            <img src="./img/icon/del_radio.png" alt="" id="{{'del'+comIndex+stepIndex+$index}}"
                 ng-click="delRadioOption($index)">
        </li>
    </ul>
    <img src="./img/icon/delete_circle.png" alt=""  ng-click="deleteTextProof($event,$index)"
         id="{{'delete'+$index}}" class="radio-proof-delcircle"
    >
</div>
