<link rel="stylesheet" href="./css/reviewDetail.css">
<div style="height: 100%;"><!--ng-controller="firstPage"-->
    <!--<img id="reviewDetailProgressImage" class="progress" style="display:none" alt="" src="../img/loading.gif"/>
    <div id="reviewDetailMaskOfProgressImage" class="mask" style="display:none"></div>-->
    <div class="bread" >
        <a ui-sref="reviewList" id="breadTaskList">审核列表<span>/</span></a>
        <a id="reviewId">编号{{reviewId}}</a>
    </div>
    <a href='javascript:;' class="review-detail-export" ng-click="reviewDetailExport()">导出</a>
    <div class="review-detail-import"><label for="reviewDetailImportFormInput">导入</label></div>

    <form id="reviewDetailImportForm">
        <input style="display: none;" id="reviewDetailImportFormInput" type="file" name="data"
               onchange="angular.element(this).scope().reviewDetailUpload(this)"
        >
    </form>

    <div class="review-detail-search-area">
        <button class="search-btn-review-detail" ng-click="searchCheckBydate()">搜索</button>
        <input type="text" class="search-input" id="searchInput" ng-model="reviewUserId" ng-keyup="reviewDetailInputStop($event)">
    </div>
    <div class="review-detail-radio">
        <span ng-click="setChoose(1)">
            <i  class="circlechoose" ng-class="{chooseBg:chooseType == 1}"></i><span class="text">用户ID</span>
        </span>
        <span ng-click="setChoose(2)">
            <i  class="circlechoose" ng-class="{chooseBg:chooseType == 2}"></i><span class="text">任务编号</span>
        </span>
    </div>
    <a href='javascript:;' id="clearTime" ng-click="clearTime()" style="    position: absolute;
    top: 30px;
    right: 780px;
    font-size: 13px;
    text-decoration: none;
    display: none;
    color:#808080;">清除时间</a>
    <div  id="submitTime">
        <input type="text"  ngc-lay-date class="sel-sub-time" ng-model="subTime" id="selSubTime" placeholder="提交时间">
    </div>

    <div class="review-detail-detail">
        <!-- <h2>审核列表界面</h2>
         <input ng-model="newtask"></input>
         <div>{{newtask}}</div>-->
        <div class="tabs-header">
            <a ui-sref="reviewDetail.tab1"  class="tabs-header-1" ng-click="changeTabBorder(0)" ng-class="{tabs_header_selected:tabSelected==0}">待审核</a>
            <a ui-sref="reviewDetail.tab2"  class="tabs-header-2" ng-click="changeTabBorder(1)" ng-class="{tabs_header_selected:tabSelected==1}">审核通过</a>
            <a ui-sref="reviewDetail.tab3"  class="tabs-header-3" ng-click="changeTabBorder(2)" ng-class="{tabs_header_selected:tabSelected==2}">审核不通过</a>
        </div>
        <div ui-view></div>
    </div>
</div>
