<!--添加步骤模板页-->
<div class="step-temp clearfix">
    <p class="step-index"><span>步骤{{stepItem.index}}<!--{{stepItem.title}}--></span><a href="javascript:;"
                                                                                       ng-click="removeStep($index)">删除此步</a>
    </p>
    <div class="step-temp-content clearfix">
        <div class="add-buttons" style="position: relative">
            <a href="javascript:;" ng-click="textProof($index)" id="{{'textProof'+$index}}">+文本凭证</a>
            <a href="javascript:;" ng-click="showOtherType()">+图片凭证</a>
            <div class="box" id="{{'box'+$index}}" ng-show="typeAll">
                <a href="javascript:;" ng-click="imgProof($index)" id="{{'imgProof'+$index}}" ng-show="typeAll"
                   style="position: absolute;top:-5px;left: 50px;">+图片(全部)</a>
                <a href="javascript:;" ng-click="imgProof($index,3)" id="{{'imgPhoto'+$index}}" ng-show="typePhoto"
                   style="position: absolute;right: 5px;">+图片(相册)</a>
                <a href="javascript:;" ng-click="imgProof($index,4)" id="{{'imgCamera'+$index}}" ng-show="typeCamera"
                   style="position: absolute;left: 5px;top: 0px;">+图片(拍照)</a>
            </div>
            <a href="javascript:;" ng-click="posProof($index)" id="{{'posProof'+$index}}">+位置凭证</a>
            <a href="javascript:;" ng-click="audioProof($index)" id="{{'audioProof'+$index}}">+录音凭证</a>
            <a href="javascript:;" ng-click="radioproof($index)" id="{{'radioProof'+$index}}">+单选凭证</a>
            <!--<a href="javascript:;" ng-click="checkboxproof($index)" id="{{'checkboxproof'+$index}}">+多选凭证</a>-->
            <!--<a href="javascript:;" ng-click="showText($index)" id="{{'showText'+$index}}">+显示文本</a>-->
            <a href="javascript:;" ng-click="showEditUrl($index)" id="{{'showUrl'+$index}}">+显示URL</a>
            <a href="javascript:;" ng-click="showImg($index)" id="{{'showImg'+$index}}">+显示图片</a>

        </div>
        <div class="middle-view" style="position: relative;height: 100%;width: 0">
            <img src="./img/step_header.png" alt="" style="
                                                    position: absolute;
                                                    left: 432px;
                                                    top: 15px;
                                                    z-index: 99;
            ">
            <ul class="temp-md-ul" id="{{'imgUrl'+$index}}">
                <div style="height: 80px;width: 100%"></div>
                <!--<div style="overflow-y:auto;">-->
                <div id="{{'scroll'+$index}}" ng-model="stepItem.component" ui-sortable="sortableOptions">
                    <div class="oldStep" style="width: 300px;height:auto;">
                        <div ng-click="showTitle($index)" id="{{'imgUrl'+$index+'stepTitle'}}"
                             style="margin-top:5px;position:relative;display: block;width: 288px;height: 30px;line-height: 30px;border:none;margin-left: 6px;font-size: 16px">
                            <p ng-hide="!stepItem.oldSteps.title" style="position: relative;padding-left: 5px;word-break: break-all">{{stepItem.oldSteps.title}}<span class="step-title-span"></span></p>
                            <p ng-hide="stepItem.oldSteps.title" style="position: relative;padding-left: 5px">任务标题</p>
                            <input style="padding-left:5px;position:absolute;left:300px;top:0px;display:none ;width: 292px;height: 30px;line-height: 30px;font-size: 16px;border:1px solid #FFCCBC"
                                   ng-model="stepItem.oldSteps.title" placeholder="任务标题">
                        </div>
                        <div ng-click="showDesc($index)" id="{{'imgUrl'+$index+'stepDesc'}}"
                             style="margin-top:5px;position:relative;display: block;width: 288px;height: auto;border:none;margin-left: 6px;font-size: 16px">
                            <p ng-hide="!stepItem.oldSteps.desc" style="word-break: break-all;padding-left: 5px">
                                {{stepItem.oldSteps.desc}}<span class="step-title-span" style="right: -35px"></span></p>
                            <p ng-hide="stepItem.oldSteps.desc" style="padding-left: 5px">任务描述</p>
                            <textarea
                                    style="border:1px solid #FFCCBC;padding:5px;position:absolute;left:295px;top:0px;display:none ;width: 292px;height:60px;margin-left: 6px;font-size: 13px;resize: vertical;"
                                    ng-model="stepItem.oldSteps.desc" placeholder="步骤描述"></textarea>
                        </div>
                        <div ng-click="showUrl($index)" id="{{'imgUrl'+$index+'stepUrl'}}"
                             style="margin-top:5px;position:relative;display: block;width: 288px;height: auto;border:none;margin-left: 6px;font-size: 16px"
                             ng-hide="!stepItem.oldSteps.url ">
                            <p ng-hide="!stepItem.oldSteps.url" style="word-break: break-all;padding-left: 5px">
                                {{stepItem.oldSteps.url}}<span class="step-title-span" style="right: -35px"></span></p>
                            <p ng-hide="stepItem.oldSteps.url " style="word-break: break-all;padding-left: 5px">任务url</p>
                            <textarea style="padding:5px;position:absolute;left:295px;top:-18px;display:none ;width: 292px;height:60px;margin-left: 6px;font-size: 13px;
                            background: #FFFFFF;
                            border:1px solid #FFCCBC;
                            border-radius: 4px;" ng-model="stepItem.oldSteps.url" placeholder="url"></textarea>
                        </div>

                        <div ng-repeat="images in stepItem.oldSteps.images_list track by $index">
                            <show-img-module ng-show="images"></show-img-module>
                        </div>


                    </div>


                    <li ng-repeat="componentItem in stepItem.component" id="{{'componentItem'+$index}}"
                        style="width: 288px;height:auto;">
                        <div>
                            <show-text-module
                                    ng-show="componentItem.isText&&componentItem.status == 1&& componentItem.type!=6|| componentItem.tips_text&&componentItem.status == 1&&componentItem.type!=6"></show-text-module>

                            <text-proof-module ng-show="componentItem.type == 1 && componentItem.status ==1">

                            </text-proof-module>

                            <img-proof-module
                                    ng-show="(componentItem.type==2 || componentItem.type==3 || componentItem.type==4) && componentItem.status ==1"></img-proof-module>
                            <pos-proof-module
                                    ng-show="componentItem.type==5 && componentItem.status ==1"></pos-proof-module>
                            <audio-proof-module
                                    ng-show="componentItem.type==6 && componentItem.status ==1"></audio-proof-module>
                            <radio-proof-module
                                    ng-show="componentItem.type==7 && componentItem.status ==1"></radio-proof-module>
                            <!--<checkboxproof-module ng-show="{{componentItem.type==8 && componentItem.status ==1}}"></checkboxproof-module>-->

                        </div>
                    </li>
                </div>
            </ul>
            <img src="./img/step_footer.png" alt="" style="
                                                    position: absolute;
                                                    left: 432px;
                                                    bottom: 22px;
                                                    z-index: 99;
            ">
        </div>
    </div>
</div>