#breadNewTask{
    display: block;
    margin-left: 16px;
    margin-top: 11px;
    width:80px;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    color: rgba(0,0,0,0.20);
    text-decoration: none;
    font-family: PingFangSC-Regular;
}
#breadNewTask span{
    margin-left: 7px;
    color: #cccccc;
}
#breadNewTaskMessage{
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #000000;
    line-height: 18px;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 90px;
    text-decoration: none;
}
.content{
    height:auto
}
.nt-left-view{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    position: relative;
    margin: 0 auto;
    padding: 0;
    margin-top: 28px;
    width: 305px;
    height: 540px;
    list-style: none;
    float: left;
    background: url("../img/new_task_bg.jpg");
    background-size: 100% 100%;
    margin-right: 10px;
}

ul{
    list-style: none;
}
.nt-lv-ph{
    position: relative;
}
.nt-lvph-title{
    position: absolute;
    height: 13px;
    top: 80px;
    line-height: 13px;
    font-size: 8px;
    left: 15px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nt-lvph-detail{
    position: absolute;
    height: 8px;
    top: 100px;
    line-height: 8px;
    font-size: 8px;
    left: 4px;
    color: #D1D1D1;
    transform: scale(0.9);
}
.nt-lvph-rightPrice{
    position: absolute;
    color: orangered;
    font-size: 22px;
    top: 83px;
    right: 10px;
}
.nt-lvph-taskSummary{
    width: 230px;
    height: 95px;
    position: absolute;
    top:180px;
    left:35px;
    font-size: 8px;
    color:#D2B9A0;
    overflow: hidden;
}
.summary-detail{
    width: 280px;
    height: 95px;
    position: absolute;
    top:180px;
    left:15px;
    font-size: 8px;
    color:#CAB097;
    line-height: 16px;
    white-space: inherit;
    word-break: break-all;
    overflow-y: auto;
}
.share-price,.get-task-price{
    display: inline-block;
    position: absolute;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    top:507px;
    left:39px;
    text-align: center;
    color: black;
    font-family: PingFangSC-Regular;
    letter-spacing: 1px;
    text-decoration: none;
}
.get-task-price{
    color: white;
    left:170px;
    top:506px
}
/*rightview*/

.nt-right-view{
    position: relative;
    padding-left: 10px;
}
.nt-right-view{
    width: 416px;
    height: auto;
    background: white;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 30px;
}
.nt-right-view label{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: rgba(0,0,0,0.54);
}
.nt-right-view input{
    border:1px solid #737373;
    border-radius: 5px;
    width: 280px;
    height:32px;
    font-size: 16px;
    line-height: 48px;
    margin-left: 12px;
    padding-left: 5px;
}
.nt-rv-title{
    margin-top: 8px;
}
.nt-rv-title input{
    width:323px;
    height:32px;
}
.nt-rv-taskCount{
    margin-top: 8px;
}
.nt-rv-taskCount input{
    width:66px;
    height:32px;
}
.nt-rv-timePicker {
    margin-top: 8px;
}
.nt-rv-timePicker input{
    font-size: 13px;
    width: 155px;
    height: 32px;
}
.nt-rightView #start,.nt-rightView #end{
    background: url(../img/icon/time_picker.png) no-repeat;
    background-position: right center;
}
.nt-rv-price {
    margin-top: 8px;
}
.nt-rv-price input{
    width: 66px;
    height: 32px;
}
.nt-rv-price a{
   text-decoration:underline;
    position:relative;
    float:right;
    font-size: 10px;
    color: blue;
    right:220px;
    top:5px
}
.price-desc{
    position: absolute;
    left: 55px;
    width: 150px;
    top: 1px;
    color: #b1b1b1;
    font-size: 15px;
    height: 15px;
    line-height: 15px;
}
.nt-rv-sharePrice {
    margin-top: 8px;
}
.nt-rv-sharePrice input{
    width: 66px;
    height: 32px;
}
.nt-rv-reviewTime{
    margin-top: 8px ;
}
.nt-rv-reviewTime input{
    width: 66px;
    height: 32px;
}
.nt-rv-summary{
    margin-top: 8px;
}
.nt-rv-summary label{
   position: relative;
   top:-80px;
}
.nt-rv-summary textarea{

    width: 323px;
    height: 94px;
    border-radius: 4px;
    resize: none;
    margin-left: 12px;
    padding: 5px;
}
.nt-rv-userGetTime {
    margin-top: 8px;
}
.nt-rv-userGetTime input{
    width: 66px;
    height: 32px;
}
.nt-rv-maxSubCount{
    margin-top: 8px;
}
.nt-rv-maxSubCount input{
    width: 66px;
    height: 32px;
}
.nt-rv-showArea{
    margin-top: 8px;
}
.nt-rv-showArea select{
    margin-left: 12px;
    background: white;
    width: 120px;
    height: 32px;
    border: 1px solid #737373;
    border-radius: 4px;
}
.nt-rv-lineVersion {
    margin-top: 8px;
}
.nt-rv-lineVersion select{
    margin-left: 12px;
    background: white;
    width: 120px;
    height: 32px;
    border: 1px solid #737373;
    border-radius: 4px;
}
.nt-rv-taskTag {
    margin-top: 8px;
}
.nt-rv-taskTag select{
    margin-left: 12px;
    background: white;
    width: 120px;
    height: 32px;
    border: 1px solid #737373;
    border-radius: 4px;
}
.content{
    width: 900px;
    margin:0 auto;
}

.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
/*底部*/
.nt-footer{
    width: 100%;
    height: 63px;
    border-top: 1px solid #cccccc;
    overflow: hidden;
    background: white;
}
.nt-footer .btn-area{
    text-align: center;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    margin-top: 12px;
}
.nt-footer .btn-area a{
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: rgba(0,0,0,0.54);
    width: 80px;
    height: 40px;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
.nt-footer .btn-area .next-page{
    background: #2DB7F5;
    color: white;
}
/*分享更多*/
#showOtherShareItem{
    text-decoration: underline;
    position: relative;
    float: right;
    font-size: 10px;
    color: blue;
    right: 220px;
    top: 5px;
}
